include grammar.js
include tree-sitter.json
recursive-include queries *
recursive-include src *.c *.h *.json
include bindings/python/tree_sitter_mlxtran/*.pyi
include bindings/python/tree_sitter_mlxtran/py.typed
